@import "../../Scss/mixins&var";

.btn {
  width: 200px;
  padding: 12px 0;
  text-align: center;
  color: $primaryColor;
  font-size: 1.5rem;
  border-radius: 20px; 
  background: linear-gradient(145deg, #fff5ff, #dbcedd);
  @include buttonShadow;
  @include transition(all , 0.2s , linear);
  user-select: none;

  &:hover{
    @include buttonPressedShadow;
  }
}
