.playground {
  width: 80%;
  height: auto;
  padding: 24px;
}

.field {
  width: 100%;
  border-radius: 16px;
  padding: 12px;
  margin-top: 0px;

  display: grid;
  grid-template-columns: repeat(8 , 1fr);
  grid-template-rows: repeat(8 , 1fr);

  -webkit-box-shadow: inset 5px 5px 14px #cfc3d0, inset -5px -5px 14px #ffffff;  
  box-shadow: inset 5px 5px 14px #cfc3d0, inset -5px -5px 14px #ffffff;
}
