@import "../../Scss/mixins&var";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #616161a5;
  @include transition(all, 0.6s, linear);
  @include flex(row, center, center, 0);

  .modalContainer {
    background-color: $mainColor;
    padding: 40px;
    border-radius: 10px;
    transform: translateY(-200%);
    @include flex(column, space-between, center, 24px);
    @include transition(all, 0.3s, linear);
  }

  button {
    width: 100px;
    padding: 3px;
    background-color: $mainColor;
    border: none;
    border-radius: 5px;
    @include buttonShadow;

    &:hover {
      @include buttonPressedShadow;
    }
  }
}

.modal.enter-done {
  opacity: 1;
  pointer-events: visible;

  .modalContainer {
    transform: translateY(0);
  }
}
.modal.exit {
  opacity: 0;

  .modalContainer {
    transform: translateY(-200%);
  }
}
