@import "../../Scss/mixins&var";

.container {
  @include flex(column, space-between, center, 26px);
}

.logo {
  width: 80px;
  height: 80px;
  background: $mainColor;
  border-radius: 50%;
  @include mainShadow;
  @include flex(row, center, center, 0);
  font-size: 1.5rem;
}

.counter {
  padding: 6px;
  width: 5rem;
  height: fit-content;
  border-radius: 15px;
  text-align: center;
  font-size: 1.2rem;
  @include mainShadow;
}
