$mainColor: #f3e5f5;
$primaryColor: #2979ff;
$black: #212121;
$purple: #ba68c8;

@mixin flex($direction, $justify, $align, $gap) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: $direction;
  flex-direction: $direction;
  -webkit-box-pack: $justify;
  -ms-flex-pack: $justify;
  justify-content: $justify;
  -webkit-box-align: $align;
  -ms-flex-align: $align;
  align-items: $align;
  gap: $gap;
  @content;
}

@mixin transition($property, $time, $speed) {
  -webkit-transition: $property $time $speed;
  -o-transition: $property $time $speed;
  transition: $property $time $speed;
}

@mixin mainShadow {
  -webkit-box-shadow: 6px 6px 17px #d3c7d5, -6px -6px 20px #ffffff;
  box-shadow: 6px 6px 17px #d3c7d5, -6px -6px 20px #ffffff;
}
