@import "./mixins&var";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: $mainColor;
  @include scrollbar(5px, $primaryColor, $mainColor);
}

#root {
  width: 100%;
  @include flex(row, space-between, flex-start, 0px);
  position: relative;
}
